<?xml version="1.0" encoding="utf-8"?>
<uexplugins>

   <plugin
        className="org.zywx.wbpalmstar.plugin.uexeditdialog.EUExEditDialog"
        uexName="uexEditDialog" >
        <method name="open" />
       <!--4.0, 除opId-->
       <method name="create" />
        <method name="close" />
        <method name="insert" />

        <method name="cleanAll" />
        <method name="getContent" />
    </plugin>
</uexplugins>